html {
    min-width: 100%;
    min-height: 100%;
  }

body {
    background-color: rgb(135, 170, 233);
  }

* {
    font-family: Helvetica, Arial, sans-serif;
  }

  h1{
    font-size: 40px;
    color:white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table {
    color: white;
    background-color: rgb(36, 96, 226);
}

table a {
    color:white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: #333;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    color:white;
}

.nav li a:hover {
    background-color: #111;
  }

  /*footer styles*/
footer#pageFooter {
	border-top: 2px solid #7f7f7f;
	padding: 2em;
}
footer#pageFooter div.leftCol {
	float: left;
	width: 600px;
}
footer#pageFooter div.leftCol p {
	color:white;
	font-size:1.5em;
}
footer#pageFooter div.rightCol {
	float: right;
	width: 420px;
	text-align: right;
}
footer#pageFooter div.rightCol a {
	color: white;
	font-size:1.5em;
}
footer#pageFooter div.rightCol a:hover {
	color: #4f81b9;
}
footer#pageFooter p {
	margin-bottom: 1em;
	color: #666;
	}
	
footer#pageFooter h2 {
	color: white;
	margin-bottom: 1em;
}

footer#pageFooter small {
	font-style: italic;
}

output {
  color:blue;
  z-index:99999;
  position:absolute;
}

.tamanho {
  height: 200px;
  width: 200px;
}